@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Check_out_success";
}

<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active">Cart</li>
        </ul>
    </div>
</div>
<body>
    <center>  <h3>Cảm ơn bạn đã mua hàng. Bạn sẽ nhận hàng trong 3-4 ngày tới</h3> </center>

    <center>  <h3>Có điều gì thắc mắc xin vui lòng gửi phản hồi về cho chúng tôi. Xin cảm ơn !!!</h3> </center>
    <br />
    <form method="get" action="/Home/Index">
        <center> <button type="submit">Tiếp tục mua hàng</button></center>
    </form>

    <br />
    <br />
    <br />
</body>