@model ClothesBYW.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{


<div style="margin-top:20px;margin-bottom:20px">
    <h2 class="text-center">Login</h2>
    <div class="login-form" style="margin-left:20%;margin-right:20%">
        @if (!String.IsNullOrEmpty(ViewBag.Error))
        {
            <br />
            <p class="alert alert-danger">@ViewBag.Error</p>
            <br />
        }
        <div class="row">
            <div class="col-md-6">
                <label>E-mail</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-6">
                <label>Password</label>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-12">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="newaccount">
                    <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn" type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>
}