
@{
    ViewBag.Title = "_401";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="eror-w3">
    <div class="agile-info">
        <h3>Xin thứ lỗi</h3>
        <h2>401</h2>
        <p>Tài khoản của bạn không có quyền hạn để truy cập chức năng này</p>
        <a href="/Administrator/Dashboard/Index">Quay Về Trang Chủ</a>
    </div>
</div>

