@model ClothesBYW.Areas.Administrator.Models.ChangeStatusPO

@* đã xét duyệt (trạng thái chờ giao đơn), trong lúc chờ giao thì sẽ có 2 trường hợp sau *@
@{
    List<SelectListItem> Status345 = new List<SelectListItem>();
    Status345.Add(new SelectListItem() { Text = "Đã bị huỷ", Value = "3" });
    Status345.Add(new SelectListItem() { Text = "Nhận đơn", Value = "4" });
    Status345.Add(new SelectListItem() { Text = "Lỗi nội dung chi tiết", Value = "5" });
}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title" style="text-align: center; font-weight: bold; text-transform:uppercase">Bạn đang xét duyệt đơn đặt hàng @Session["PurchaseOrderID"]</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("ChangeStatus", "ReturnPO", FormMethod.Post))
    {
        <div class="form-group">
            <label>Trạng thái:</label>
            @Html.DropDownListFor(model => model.StatusID, Status345, "-- Select Status --")
        </div>

        <button type="submit" class="btn">Xác nhận</button>
    }

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
</div>

