
@{
    ViewBag.Title = "VerifyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <h3>Xác thực thành công! </h3>
        <p>
            Tài khoản của bạn đã được kích hoạt thành công!
            Click vào đây để <a href="/Administrator/Login/Index">Đăng Nhập</a>
        </p>
    </div>
}
else
{
    <div class="alert alert-danger">
        <h3>Lỗi xác thực!</h3> @ViewBag.message
    </div>
}

